// Colors
$green-dark: #294411;
$green-mid:  #4E6C1E;
$green-lite: #9AC212;
$dirt: #2e1c10;
$status: rgb(46, 112, 47);
$error: rgb(100, 27, 29);

// Fonts
$helvetica: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-size: 100;
$font-base: 16;
